<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> <!-- animate on scroll-->

    <title>About Me</title>
</head>

<body>

    <main id="about">
        <h1 class="lg-heading">
            About <span class="span-text-secondary">Me</span>
        </h1>
        <h2 class="sm-heading">Let me tell you a few things...</h2>
        <div class="about-info">

            <img src="/images/portrait_small.JPG" alt="Me!" class="bio-image">

            <div class="bio">
                <div class="card">
                <div class="card-header"><h3 class="span-text-secondary">BIO:</h3></div>
                <div class="card-text">
                <p class="bio-text">Welcome! I'm a Computer Science enthusiast navigating the world of algorithms and code from the charming coastal town of Falmouth in Cornwall, UK. When I'm not immersed in the digital realm, you'll likely find me tinkering with 3D printers, exploring the skies with drones, or playing on the piano and drums.
                     Beyond the lines of code, I'm passionate about blending the artistry of technology and design with the logic and precision of programming. 
                    Join me on this journey as I weave my way through the diverse landscapes of software development, all while embracing the analog pleasures of music and hands-on creativity. Welcome to my digital corner – let's build something incredible together!</p>
                </div>
                </div>
            </div>
            <!--
            <div class="timeline">
                {{#each jobsData}}
                <div class="timeline-item" data-aos="{{#if @odd}}fade-right{{else}}fade-left{{/if}}">
                    <div class="timeline-content">
                        <h3>{{company}}</h3>
                        <h6>{{title}}</h6>
                        <p>{{location}}, {{startDate}}-{{endDate}}</p>
                        <p>{{description}}</p>
                    </div>
                </div>
                {{/each}}
            </div>-->
            <div class="timeline">
    <div class="timeline-left">
        {{#each jobsData}}
        {{#isEven @index}}
        <div class="timeline-item" data-aos="fade-right">
            <div class="timeline-content">
                <h3>{{company}}</h3>
                <h6>{{title}}</h6>
                <p>{{location}}, {{startDate}}-{{endDate}}</p>
                <p>{{description}}</p>
            </div>
        </div>
        {{else}}
        <div class="timeline-item" style="visibility: hidden;">
            <div class="timeline-content">
            <h3>{{company}}</h3>
                <h6>{{title}}</h6>
                <p>{{location}}, {{startDate}}-{{endDate}}</p>
                <p>{{description}}</p>
            </div>
        </div>
        {{/isEven}}
        {{/each}}
    </div>
    <div class="timeline-right">
        {{#each jobsData}}
        {{^isEven @index}}
        <div class="timeline-item" data-aos="fade-left">
            <div class="timeline-content">
                <h3>{{company}}</h3>
                <h6>{{title}}</h6>
                <p>{{location}}, {{startDate}}-{{endDate}}</p>
                <p>{{description}}</p>
            </div>
        </div>
        {{else}}
        <div class="timeline-item" style="visibility: hidden;">
            <div class="timeline-content">
            <h3>{{company}}</h3>
                <h6>{{title}}</h6>
                <p>{{location}}, {{startDate}}-{{endDate}}</p>
                <p>{{description}}</p>
            </div>
        </div>
        {{/isEven}}
        {{/each}}
    </div>
</div>
        
        </div>
        </div>
    </main>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>