<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>About Me</title>
</head>

<body id="bg-img">

    <main id="about">
        <h1 class="lg-heading">
            About <span class="span-text-secondary">Me</span>
        </h1>
        <h2 class="sm-heading">Let me tell you a few things...</h2>
        <div class="about-info">

            <img src="/images/portrait_small.JPG" alt="Me!" class="bio-image">

            <div class="bio">
                <h3 class="span-text-secondary">BIO:</h3>
                <p class="bio-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam optio quidem
                    doloremque ipsum suscipit incidunt nihil illum alias blanditiis cupiditate, et repudiandae officiis
                    voluptates quo saepe porro tempore reprehenderit ut!</p>
            </div>
            {{#each jobsData}}
            <div class="job job-{{@index}}">
                <h3>{{company}}</h3>
                <h6>{{title}}</h6>
                <p>{{location}}, {{startDate}}-{{endDate}}</p>
                <p>{{description}}</p>
            </div>
            {{/each}}

        </div>
        </div>
    </main>

</body>

</html>