<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> <!-- animate on scroll-->

    <title>About Me</title>
</head>

<body>

    <main id="about">
        <h1 class="lg-heading">
            About <span class="span-text-secondary">Me</span>
        </h1>
        <h2 class="sm-heading">Let me tell you a few things...</h2>
        <div class="about-info">

            <img src="/images/portrait_small.JPG" alt="Me!" class="bio-image">

            <div class="bio">
                <h3 class="span-text-secondary">BIO:</h3>
                <p class="bio-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam optio quidem
                    doloremque ipsum suscipit incidunt nihil illum alias blanditiis cupiditate, et repudiandae officiis
                    voluptates quo saepe porro tempore reprehenderit ut!</p>
            </div>
            <!--
            <div class="timeline">
                {{#each jobsData}}
                <div class="timeline-item" data-aos="{{#if @odd}}fade-right{{else}}fade-left{{/if}}">
                    <div class="timeline-content">
                        <h3>{{company}}</h3>
                        <h6>{{title}}</h6>
                        <p>{{location}}, {{startDate}}-{{endDate}}</p>
                        <p>{{description}}</p>
                    </div>
                </div>
                {{/each}}
            </div>-->
            <div class="timeline">
    <div class="timeline-left">
        {{#each jobsData}}
        {{#isEven @index}}
        <div class="timeline-item" data-aos="fade-right">
            <div class="timeline-content">
                <h3>{{company}}</h3>
                <h6>{{title}}</h6>
                <p>{{location}}, {{startDate}}-{{endDate}}</p>
                <p>{{description}}</p>
            </div>
        </div>
        {{else}}
        <div class="timeline-item" style="visibility: hidden;">
            <div class="timeline-content">
            <h3>{{company}}</h3>
                <h6>{{title}}</h6>
                <p>{{location}}, {{startDate}}-{{endDate}}</p>
                <p>{{description}}</p>
            </div>
        </div>
        {{/isEven}}
        {{/each}}
    </div>
    <div class="timeline-right">
        {{#each jobsData}}
        {{^isEven @index}}
        <div class="timeline-item" data-aos="fade-left">
            <div class="timeline-content">
                <h3>{{company}}</h3>
                <h6>{{title}}</h6>
                <p>{{location}}, {{startDate}}-{{endDate}}</p>
                <p>{{description}}</p>
            </div>
        </div>
        {{else}}
        <div class="timeline-item" style="visibility: hidden;">
            <div class="timeline-content">
            <h3>{{company}}</h3>
                <h6>{{title}}</h6>
                <p>{{location}}, {{startDate}}-{{endDate}}</p>
                <p>{{description}}</p>
            </div>
        </div>
        {{/isEven}}
        {{/each}}
    </div>
</div>
        
        </div>
        </div>
    </main>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>